@using AdmissionEasy.Data.Services
@using AdmissionEasy.Models
@using AdmissionEasy.Models.DTO
@using Microsoft.AspNetCore.Mvc.ViewFeatures.Buffers

@{
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Направления обучения</title>
</head>
<body>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<style>
.spectitle {
    font-family: Roboto;
    font-size: 18px;
}
div {
    outline: 0;
}
div {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.educationAreaInfo {
    width: calc(100% - 150px);
    text-align: left;
    font-family: Roboto;
}
.educationAreaInfo>div:not(:first-child) {
    font-size: 14px;
    margin-top: 10px;
}
.price {
    font-family: 'PT Sans',serif;
}
.tooltipq {
    border-bottom: 1px dotted #000;
    color: #000;
    outline: 0;
    cursor: help;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-family: Roboto;
}
.tooltipq span {
    margin-left: -999em;
    position: absolute;
    padding: 5px;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
}
.yearVuzInfoSpan {
    border: 1px solid lightgray;
    background: #fff;
    margin-left: 7px;
    padding: 0 2px;
    position: absolute;
}
.fixToolT {
    border-bottom: 0 !important;
    color: #333 !important;
    font-size: 12px !important;
}
    /*td.dataTables_empty{
    background-color: #086FA1;
    }
    .dataTables_filter{
    color: white !important;
    }
    .dataTables_length
    {
    color: white !important;
    }
    select {
  color: white !important;
  background-color: #086FA1 !important;
    }
    input {
    color: white !important;
    }
    div.dataTables_paginate paging_simple_numbers{
    background-color: white !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: white!important;
  border-radius: 4px;
  border: 1px solid #828282;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: white!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none;
  color: white!important;
}

   #genre {
    text-align: left;
   }
   #anime{
    background-color: #065c88;
   }

a.htag  {
    color: #FFFFFF;
}*/

</style>
  <div class="features">
      <table class="stripe row-border hover table-opacity-background display nowrap text-center" id="anime">
           <thead>
            <tr>
                <th>Специальность</th>
                <th>Стоимость (руб/год)</th>
                <th>Бюджетная основа</th>
                <th>Платная основа</th>
            </tr>
        </thead>
        <tbody>
          @for(var i = 0; i < ViewBag.InfoForTable.EducationAreas.Count; i++)
              {
                  <tr>
                      <td>
                          <div class="educationAreaInfo">
                              <div>
                                  <a class="spectitle">@(ViewBag.InfoForTable.EducationAreas[i].Title)</a>
                              </div>
                              <div>
                                  <i>
                                      @(ViewBag.InfoForTable.EducationAreas[i].LevelOfEducation.Title + " | " + ViewBag.InfoForTable.EducationAreas[i].FormOfEducation.Title)
                                  </i>
                              </div>
                              <div>
                                  ЕГЭ:
                                  <span>
                                      @for (var j = 0; j < ViewBag.InfoForTable.Subjects[i].Count; j++)
                                      {
                                          if (j + 1 == ViewBag.InfoForTable.Subjects[i].Count)
                                          {
                                              @(ViewBag.InfoForTable.Subjects[i][j].Title)
                                          }
                                          else
                                          {
                                              @(ViewBag.InfoForTable.Subjects[i][j].Title + ", ")
                                          }
                                      }
                                  </span>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div style="text-align: center;">
                              <a class="tooltipq" title="минимальная стоимость по специальности (руб/год)">
                                  @("от " + ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.Cost + " ")
                                  <font class="price">₽</font>
                              </a>
                              <span class="yearVuzInfoSpan">
                                  <a class="tooltipq fixToolT" title="информация о стоимости за 2023 год">
                                      2023
                                  </a>
                              </span>
                          </div>
                      </td>
                      <td>
                          <div style="text-align: center;">
                              <a class="tooltipq" title="минимальный суммарный проходной балл">
                                  @("от " + ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.PassingScoreOnBudget)
                              </a>
                              <span class="yearVuzInfoSpan">
                                  <a class="tooltipq fixToolT" title="информация о количестве мест за 2023 год">
                                      2023
                                  </a>
                              </span>
                          </div>
                          <div style="text-align: center;">
                              <a class="tooltipq" style="font-size: 11px; color: gray;" title="количество бюджетных мест на специальность">
                                  @if (ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 11
                                      || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 12
                                      || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 13
                                      || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 14)
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " мест")
                                  }
                                  else if (ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 1)
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " место")
                                  }
                                  else if (ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 2
                                           || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 3
                                           || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 4)
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " места")
                                  }
                                  else
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " мест")
                                  }
                              </a>
                          </div>
                      </td>
                      <td>
                          <div style="text-align: center;">
                              <a class="tooltipq" title="минимальный суммарный проходной балл">
                                  @("от " + ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.PassingScoreOnBudget)
                              </a>
                                  <span class="yearVuzInfoSpan">
                                      <a class="tooltipq fixToolT" title="информация о количестве мест за 2023 год">
                                          2023
                                      </a>
                                  </span>
                          </div>
                          <div style="text-align: center;">
                              <a class="tooltipq" style="font-size: 11px; color: gray;" title="количество платных мест на специальность">
                                  @if (ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 11
                                       || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 12
                                       || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 13
                                       || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 100 == 14)
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " мест")
                                  }
                                  else if (ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 1)
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " место")
                                  }
                                  else if (ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 2
                                           || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 3
                                           || ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget % 10 == 4)
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " места")
                                  }
                                  else
                                  {
                                      @(ViewBag.InfoForTable.EducationAreas[i].AdditionalInformationAboutAreaOfStudy.NumberOfPlacesOnBudget + " мест")
                                  }
                              </a>
                          </div>
                      </td>

                      @*<td><a href="~/Home/Buy/@(ViewBag.InfoForTable.EducationAreas[i].Institute.University)">Купить</a></td>*@
                  </tr>
              }
        </tbody>
      </table>
  </div>
<script src="//cdn.datatables.net/plug-ins/1.11.5/i18n/ru.json"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
      $(document).ready(function()
      {
        $('#anime').DataTable({
                'info': false,
                'lengthMenu': [4, 8, 16],
                'rowReorder': true,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 2 },
                    { orderable: true, className: 'reorder', targets: 3 },
                    { orderable: false, targets: '_all' }
                ],
                'language':
                {
                  'search': 'Поиск',
                  'lengthMenu': 'Показать _MENU_ элементов',
                  'zeroRecords': 'Совпадений не найдено',
                  'processing': 'Данные загружаются...',
                  'paginate':
                  {
                      'previous': '<',
                      'next': '>'
                  }
                },
                        'fnRowCallback': function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                          $('td', nRow);
                }
            });
            });

            jQuery('.htag').click(function() {
    var txt = jQuery(this).text(); // Получаем текст элемента на который был клик
    jQuery('input[type="search"]').val(txt); // Вставляем полученный ранее текст в поле поиска
    jQuery('input[type="search"]').trigger('input'); // Имитируем событие ввода для запуска фильтра
});


</script>
</body>
</html>